.pagination-container {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.pagination {
  display: flex;
  gap: 14px;
}
.page-item {
  border: 1px solid black;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.active-page {
  background-color: rgb(87, 88, 187);
  color: white;
  border: none;
}
.disabled {
  background-color: rgba(87, 88, 187, 0.8);
}
.btn {
  background-color: #5758bb;
  height: auto;
  padding: 10px 20px;
  color: white;
  list-style-type: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn::marker {
  display: none;
}

.break {
  display: block;
  font-size: 24px;
}
