.buttons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.buttons-container button {
  padding: 10px 25px;
  border: none;
  background-color: #5758bb;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
button:disabled {
  background-color: rgba(87, 88, 187, 0.8);
}
