.history-tags {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 15px 0;
  max-width: 1200px;
}
.history-tags li {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.history-tags li:hover {
  background-color: #5758bb;
  color: white;
  border: none;
}
